.dxgvControl_DevDashboard01,
.dxgvDisabled_DevDashboard01
{
	border: 1px solid #9da0aa;
	font: 11px Arial, Geneva, sans-serif;
	background-color: #f1f2f6;
	color: #201f35;
	cursor: default;
}
.dxgvDisabled_DevDashboard01
{
	color: #b1b1b8;
}
.dxgvControl_DevDashboard01 a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxgvControl_DevDashboard01 a:hover
{
	text-decoration: underline;
}
.dxgvDisabled_DevDashboard01 a
{
	color: #b1b1b8;
}
/*Loading Panel*/

.dxgvEmptyDataRow_DevDashboard01.dxgvBELVR > td.dxgv,
.dxgvDataRow_DevDashboard01.dxgvBELVR > td.dxgv,
.dxgvGroupRow_DevDashboard01.dxgvBELVR > td.dxgv,
.dxgvSelectedRow_DevDashboard01.dxgvBELVR > td.dxgv,
.dxgvFocusedRow_DevDashboard01.dxgvBELVR > td.dxgv
{
    border-bottom-width: 0;
}

.dxgvRBB .dxgvEmptyDataRow_DevDashboard01.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvDataRow_DevDashboard01.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvGroupRow_DevDashboard01.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvSelectedRow_DevDashboard01.dxgvBELVR > td.dxgv,
.dxgvRBB .dxgvFocusedRow_DevDashboard01.dxgvBELVR > td.dxgv
{
    border-bottom-width: 1px !important;
}

.dxgvLoadingPanel_DevDashboard01
{
	font: 11px Arial, Geneva, sans-serif;
	color: #201f35;
	background-color: White;
	border: 1px solid #9da0aa;
}
.dxgvLoadingPanel_DevDashboard01 td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 7px 10px;
}
.dxgvLoadingPanel_DevDashboard01 .dxlp-loadingImage
{
	background-image: url('../Web/Loading.gif');
	height: 32px;
	width: 32px;
}
.dxgvLoadingPanelStatusBar_DevDashboard01 .dxlp-loadingImage 
{
	background-image: url('StatusBarLoading.gif');
	height: 15px;
	width: 15px;
}
.dxgvLoadingPanelStatusBar_DevDashboard01
{
	background-color: Transparent;
}
.dxgvLoadingPanelStatusBar_DevDashboard01 td
{
	white-space: nowrap;
	text-align: center;
	padding: 0 2px;
}
.dxgvFilterPopupWindow_DevDashboard01
{
	color: #201f35;
	border: 1px solid #9da0aa;
}
.dxgvFilterPopupItemsArea_DevDashboard01
{
	color: #201f35;
	background-color: White;
}
.dxgvFilterPopupButtonPanel_DevDashboard01
{
	background-color: #ebecef;
	border-top: 1px solid #9da0aa;
	color: #201f35;
}

.dxgvFilterPopupItem_DevDashboard01 td.dxgv,
.dxgvFilterPopupActiveItem_DevDashboard01 td.dxgv,
.dxgvFilterPopupSelectedItem_DevDashboard01 td.dxgv
{
	padding: 3px 2px 3px 3px;
	cursor: default;
	white-space: nowrap;
}
.dxgvFilterPopupActiveItem_DevDashboard01
{
	background: #e2eafd none;
	color: #201f35;
}
.dxgvFilterPopupSelectedItem_DevDashboard01
{
	background: #eff0f2 none;
	color: #201f35;
}

.dxgvTable_DevDashboard01
{
	background-color: White;
	border-width: 0;
	border-collapse: separate!important;
	overflow: hidden;
}
.dxgvTable_DevDashboard01 .dxgvHEC
{
	background-color: White;
	border-width: 0;
	overflow: hidden;
}
.dxgvControl_DevDashboard01 .dxgvFSDC
{
    background-color: #f9f9fc;
}
.dxgvControl_DevDashboard01 .dxgvFSDC .dxgvFooter_DevDashboard01 td.dxgv
{
    border-bottom: 0;
}
.dxgvControl_DevDashboard01 .dxgvFGI
{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.dxgvControl_DevDashboard01 .dxgvFGI
{
    right: 5px;
    left: auto;
}
*[dir="rtl"].dxgvControl_DevDashboard01 .dxgvFGI
{
    right: auto;
    left: 5px;
}
.dxgvInlineEditRow_DevDashboard01,
.dxgvDataRow_DevDashboard01
{
}
.dxgvInlineEditRow_DevDashboard01 td.dxgv
{
	border-bottom: 1px solid #d9dae0;
	border-right: 1px solid #d9dae0;
}
.dxgvInlineEditRow_DevDashboard01 td.dxgvIndentCell
{
	background: #f9f9fc none;
}
.dxgvInlineEditRow_DevDashboard01 .dxgvCommandColumn_DevDashboard01
{
	background: #f9f9fc none;
}
.dxgvDataRowAlt_DevDashboard01
{
	background-color: #f7f4fd;
}
.dxgvFilterRow_DevDashboard01
{
	background-color: #ebecef;
}
.dxgvEditForm_DevDashboard01
{
	background-color: #f9f9fc;
}
.dxgvEditForm_DevDashboard01 td.dxgv
{
	border-bottom: 1px solid #d9dae0;
	padding: 8px 10px 10px;
}
.dxgvEditForm_DevDashboard01 td.dxgvIndentCell
{
	background: #f9f9fc none;
	border-right: 1px Solid #d9dae0;
	border-left: 1px Solid #d9dae0;
	border-top-width: 0px;
}
.dxgvSelectedRow_DevDashboard01
{
	background-color: #eff0f2;
	color: #201f35;
}
.dxgvFocusedRow_DevDashboard01
{
	background: #d9e4fd url('gvFocusedBack.png') repeat-x left top;
	color: #201f35;
}
.dxgvSelectedRow_DevDashboard01 .dxgvCommandColumn_DevDashboard01 a,
.dxgvFocusedRow_DevDashboard01 .dxgvCommandColumn_DevDashboard01 a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxgvSelectedRow_DevDashboard01 .dxgvCommandColumn_DevDashboard01 a:hover,
.dxgvFocusedRow_DevDashboard01 .dxgvCommandColumn_DevDashboard01 a:hover
{
	text-decoration: underline;
}

.dxgvPreviewRow_DevDashboard01
{
	background: #f7f7f8;
	color: #777777;
	font-size: 30px;
}
.dxgvDetailCell_DevDashboard01,
.dxgvPreviewRow_DevDashboard01 td.dxgv,
.dxgvEmptyDataRow_DevDashboard01 td.dxgv
{
	padding: 20px 2px 20px 4px;
	border-bottom: 1px solid #d9dae0;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.dxgvDetailCell_DevDashboard01
{
	border-bottom-color: #d9dae0;
}
.dxgvPreviewRow_DevDashboard01 td.dxgv
{
	padding: 10px 10px 10px 15px;
}
.dxgvDetailCell_DevDashboard01
{
	padding: 16px 18px;
}
.dxgvDetailRow_DevDashboard01 td.dxgvIndentCell
{
	padding-right: 0px;
	border-bottom: 1px solid #d9dae0;
}
.dxgvEmptyDataRow_DevDashboard01
{
	color: #777777;
}
.dxgvEmptyDataRow_DevDashboard01 td.dxgv
{
	border-bottom: 1px solid #d9dae0;
	text-align: center;
}

.dxgvEditFormDisplayRow_DevDashboard01 td.dxgv,
.dxgvDataRow_DevDashboard01 td.dxgv,
.dxgvDataRowAlt_DevDashboard01 td.dxgv,
.dxgvSelectedRow_DevDashboard01 td.dxgv,
.dxgvFocusedRow_DevDashboard01 td.dxgv
{
	overflow: hidden;
	border-bottom: 1px solid #d9dae0;
	border-right: 1px solid #d9dae0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 4px 6px;
	font-size: 30px;
}
.dxgvEditFormDisplayRow_DevDashboard01
{
}
.dxgvEditFormDisplayRow_DevDashboard01 td.dxgv
{
}
.dxgvEditFormDisplayRow_DevDashboard01 td.dxgvIndentCell
{
	background: #f9f9fc none;
	border-right: 1px Solid #d9dae0;
	border-left: 1px Solid #d9dae0;
	border-top-width: 0px;
}

.dxgvEditingErrorRow_DevDashboard01
{
	background-color: #ebecef;
	color: #ba1717;
}
.dxgvEditingErrorRow_DevDashboard01 td.dxgv
{
	white-space: pre-wrap;
	border-bottom: 1px solid #d9dae0;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 6px 10px;
}

.dxgvFilterRow_DevDashboard01 td.dxgv
{
	border-bottom: 1px solid #abacb9;
	border-right-width: 0;
	border-top-width: 0;
	border-left-width: 0;
	padding: 2px 3px 2px 2px;
	overflow: hidden;
}
.dxgvGroupRow_DevDashboard01
{
	background-color: #f9f9fc;
}
.dxgvFocusedGroupRow_DevDashboard01
{
	background: #d9e4fd url('gvFocusedBack.png') repeat-x left top;
	color: #201f35;
}
.dxgvGroupRow_DevDashboard01 td.dxgv,
.dxgvFocusedGroupRow_DevDashboard01 td.dxgv
{
	border: 0 none;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom: 1px solid #d9dae0;
	padding: 4px 6px;
	font-size: 30px;
}
.dxgvFocusedRow_DevDashboard01 td.dxgvIndentCell,
.dxgvFocusedGroupRow_DevDashboard01 td.dxgvIndentCell,
.dxgvSelectedRow_DevDashboard01 td.dxgvIndentCell
{
	background: #f9f9fc!important;
	border-right: 1px solid #d9dae0;
	border-left: 1px solid #d9dae0;
	border-top-width: 0px;
}
.dxgvHeaderPanel_DevDashboard01
{
	background-color: #ebecef;
	color: #201f35;
	padding: 8px 6px;
	border-bottom: 1px solid #abacb9;
}

.dxgvMSDraggable .dxgvHeader_DevDashboard01,
.dxgvMSDraggable.dxgvGroupPanel_DevDashboard01
{
    -ms-touch-action: pinch-zoom;
}
.dxgvHeader_DevDashboard01
{
	cursor: pointer;
	white-space: nowrap;
	padding: 5px 6px;
	border: 1px solid #cacbd3;
	background: #404040  repeat-x left top;
	overflow: hidden;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	font-size: 35px;
}
.dxgvHeader_DevDashboard01,
.dxgvHeader_DevDashboard01 table
{
	color: #FFFFFF;
}
.dxgvHeader_DevDashboard01 td
{
	white-space: nowrap;
}
.dxgvHeader_DevDashboard01 a
{
	color: #1b3f91;
	text-decoration: underline;
}
.dxgvHeader_DevDashboard01 a.dxgvCommandColumnItem_DevDashboard01
{
	margin: 0px 3px 0px 0px;
	color: #1b3f91;
	text-decoration: none;
}
.dxgvHeader_DevDashboard01 a.dxgvCommandColumnItem_DevDashboard01:hover
{
	text-decoration: underline;
}
.dxgvCustomization_DevDashboard01,
.dxgvPopupEditForm_DevDashboard01
{
	padding: 0;
	margin: 0;
}
.dxgvPopupEditForm_DevDashboard01 .dxgvEditingErrorRow_DevDashboard01 .dxgv
{
	border-bottom-width: 0;
}
.dxgvGroupPanel_DevDashboard01
{
	color: #201f35;
	background: #ebecef url('gvGroupPanelBack.png') no-repeat right top;
	border-bottom: 1px solid #cacbd3;
	padding: 7px 6px;
	white-space: nowrap;
}
.dxgvFooter_DevDashboard01
{
	background-color: #f9f9fc;
	white-space: nowrap;
}
.dxgvFooter_DevDashboard01 td.dxgv
{
	padding: 6px;
	border-bottom: 1px solid #d9dae0;
	border-right-width: 0;
}
.dxgvGroupFooter_DevDashboard01
{
	background-color: #f9f9fc;
}
.dxgvGroupFooter_DevDashboard01 td.dxgv
{
	padding: 6px;
	border-bottom: 1px solid #d9dae0;
	border-right-width: 0;
	white-space: nowrap;
}
.dxgvDataRow_DevDashboard01 td.dxgvIndentCell,
.dxgvGroupRow_DevDashboard01 td.dxgvIndentCell,
.dxgvGroupFooter_DevDashboard01 td.dxgvIndentCell
{
	background-color: #f9f9fc;
	border-right: 1px solid #d9dae0;
	border-left: 1px solid #d9dae0;
	border-top-width: 0px;
}

.dxgvTitlePanel_DevDashboard01,
.dxgvTable_DevDashboard01 caption
{
	font-weight: bold;
	padding: 3px 3px 5px;
	text-align: center;
	background: #404040  repeat-x left top;
	color: #FFFFFF;
	border-bottom: 1px solid #9da0aa;
	font-size: 38px;
}
.dxgvLoadingDiv_DevDashboard01
{
	background-color: Gray;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxgvStatusBar_DevDashboard01
{
	background: #f9f9fc none;
	border-top: 1px solid #cacbd3;
}
.dxgvStatusBar_DevDashboard01 tr.dxgv
{
	height: 20px;
}
.dxgvStatusBar_DevDashboard01 tr.dxgv > td
{
	padding: 4px;
}
.dxgvCommandColumn_DevDashboard01
{
	padding: 2px;
}
.dxgvCommandColumn_DevDashboard01 a
{
	margin: 0px 3px 0px 0px;
	color: #1b3f91;
	text-decoration: none;
}
.dxgvCommandColumn_DevDashboard01 a:hover
{
	text-decoration: underline;
}

.dxgvCommandColumnItem_DevDashboard01
{
}
.dxbButton_DevDashboard01[class~="dxgvCommandColumnItem_DevDashboard01"]
{
	margin: -2px 2px;
}
.dxbButton_DevDashboard01[class~="dxgvCommandColumnItem_DevDashboard01"] .dxb
{
	margin: -2px 2px;
}
.dxgvEditFormTable_DevDashboard01
{
	padding: 2px 6px 6px 4px;
	color: #201f35;
}
.dxgvEditFormTable_DevDashboard01 a
{
	color: #1b3f91;
	text-decoration: none;
}
.dxgvEditFormTable_DevDashboard01 a:hover
{
	text-decoration: underline;
}

.dxgvEditFormCaption_DevDashboard01
{
	padding: 4px 4px 4px 10px;
	white-space: nowrap;
}

.dxgvInlineEditCell_DevDashboard01
{
	padding: 1px;
}

.dxgvEditFormCell_DevDashboard01
{
	padding: 4px;
	border-width: 0;
}

.dxgvPagerTopPanel_DevDashboard01,
.dxgvPagerBottomPanel_DevDashboard01
{
	background: #f1f2f6 url('gvPagerPanelBack.png') repeat-x left top;
}
.dxgvDetailButton_DevDashboard01
{
}

.dxgvFilterBar_DevDashboard01
{
	border-top: 1px solid #cacbd3;
	background: #f9f9fc none;
}
.dxgvFilterBar_DevDashboard01 a
{
	color: #1b3f91;
	text-decoration: underline;
}
.dxgvFilterBarCheckBoxCell_DevDashboard01
{
	padding: 0 7px 0 3px;
}
.dxgvFilterBarImageCell_DevDashboard01
{
	padding: 0 1px 0 3px;
	cursor: pointer;
}
.dxgvFilterBarExpressionCell_DevDashboard01
{
	padding: 5px 5px 8px 0;
	white-space: nowrap;
}
.dxgvFilterBarClearButtonCell_DevDashboard01
{
	padding: 5px 6px 8px;
}
.dxgvFilterBuilderMainArea_DevDashboard01
{
	background: white none;
	padding: 6px 2px;
} 
.dxgvFilterBuilderButtonArea_DevDashboard01
{
	background: #ebecef none;
	border-top: 1px solid #abacb9;
	padding: 6px;
	white-space: nowrap;
}

.dxgvDataRowHover_DevDashboard01
{
	background: #e2eafd none;
	color: #201f35;
}


.dxgvControl_DevDashboard01 .dxpLite_DevDashboard01,
.dxgvDisabled_DevDashboard01 .dxpLite_DevDashboard01
{
	padding-top: 4px;
}

.dxgvControl_DevDashboard01 .dxgvHFSAC
{
    padding: 6px 0 0 5px;
}
.dxgvControl_DevDashboard01 .dxgvHFSC
{
    padding: 6px 0 5px;
}
.dxgvControl_DevDashboard01 .dxgvHFSC div
{
    height: 1px;
    background: #9DA0AA;
}
.dxgvControl_DevDashboard01 div[id$='DXEPLPC']
{
    height: 47px;
}

/* Removes flicking in iOS Safari*/
.dxgvTable_DevDashboard01
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.dxgvControl_DevDashboard01 td.dxgvBatchEditCell_DevDashboard01
{
    padding: 0;
}
.dxgvControl_DevDashboard01 td.dxgvBatchEditModifiedCell_DevDashboard01
{
    background: #d7f9c7;
}
.dxgvControl_DevDashboard01 .dxgvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxgvControl_DevDashboard01 .dxgvErrorCell img
{
    margin: -2px 0;
}
.dxgvStatusBar_DevDashboard01 .dxgvCommandColumn_DevDashboard01 a
{
    margin-right: 10px;
}
.dxgvControl_DevDashboard01 td.dxgvBatchEditCell_DevDashboard01 .dxichCellSys
{
    padding-left: 0;
}

.dxmLite_DevDashboard01.dxm-ltr .dxgvContextMenu_DevDashboard01.dxm-popup .dxm-content {
    padding-top: 4px;
    padding-bottom: 4px;
}
.dxmLite_DevDashboard01.dxm-ltr .dxgvContextMenu_DevDashboard01.dxm-popup .dxm-image,
.dxgvContextMenu_DevDashboard01.dxm-popup .dxm-image {
	margin-top: -2px;
    margin-bottom: -3px;
	margin-left: -2px;
    border: 1px solid transparent;
}
.dxmLite_DevDashboard01.dxm-ltr .dxgvContextMenu_DevDashboard01.dxm-popup .dxm-image.dxgvcm-chk,
.dxgvContextMenu_DevDashboard01.dxm-popup .dxm-image.dxgvcm-chk {
    background-color: #d4d6db;
	border-color: #888888;
}
.dxmLite_DevDashboard01.dxm-ltr .dxgvContextMenu_DevDashboard01.dxm-popup .dxm-image {
	margin-right: 6px;
}
.dxmLite_DevDashboard01.dxm-ltr .dxgvContextMenu_DevDashboard01.dxm-popup .dxm-image.dxWeb_mSubMenuItem_DevDashboard01,
.dxmLite_DevDashboard01.dxm-ltr .dxgvContextMenu_DevDashboard01.dxm-popup .dxm-image.dxWeb_mSubMenuItemChecked_DevDashboard01 {
	margin-left: 0px;
	margin-right: 9px;
}

.dxgvSearchPanel_DevDashboard01
{
    background: #ebecef;
    border-bottom: 1px solid #cacbd3;
    padding: 7px 6px;
}
.dxgvSearchPanel_DevDashboard01 > table 
{
    width: 70%;
    max-width: 450px;
}
.dxgvControl_DevDashboard01 .dxgvSearchPanel_DevDashboard01 .dxbButton_DevDashboard01
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxgvControl_DevDashboard01 .dxgvSearchPanel_DevDashboard01 .dxbButton_DevDashboard01 {
    margin-left: 0;
    margin-right: 7px;
}
.dxgvControl_DevDashboard01 .dxgvHL
{
    background: #ffd83a;
	color: #201f35;
	font-weight: bold;
	font-style: normal;
}

/* TODO remove (replace to command button style) */
.dxgvControl_DevDashboard01 .dxgvSearchPanel_DevDashboard01 .dxbButton_DevDashboard01
{
    font-size: 0.9em;
    margin-top: -2px;
    margin-bottom: -2px;
}
.dxgvControl_DevDashboard01 .dxgvSearchPanel_DevDashboard01 .dxbButton_DevDashboard01 .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
