<div class="selectTheme">
  <span>Select a Theme</span>
  <select [(ngModel)]="selectedTheme" (change)="onThemeChange()">
  <option value="customTheme" selected="true">Custom</option>
  <option value="bootstrapTheme">Bootstrap</option>
  <option value="cruzeTheme">Cruze</option>
  <option value="cupertinoTheme">Cupertino</option>
  <option value="darknessTheme">Darkness</option>
  <option value="flickTheme">Flick</option>
  <option value="homeTheme">Home</option>
  <option value="kasperTheme">Kasper</option>
  <option value="lightnessTheme">Lightness</option>
  <option value="ludvigTheme">Ludvig</option>
  <option value="omegaTheme">Omega</option>
  <option value="redmondTheme">Redmond</option>
  <option value="rocketTheme">Rocket</option>
  <option value="startTheme">Start</option>
  <option value="trontasticTheme">Trontastic</option>
  <option value="voclainTheme">Voclain</option>
 </select>
</div>