<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings configSource="Configuration\MattLocal\connection_strings.config"  xdt:Transform="Replace" />
  <appSettings configSource="Configuration\MattLocal\app_settings.config" xdt:Transform="Replace">
  </appSettings>

</configuration>