<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid smaller" style="min-height: 600px">
  <p-blockUI [blocked]="submitting" [target]="pblockableDiv">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw blockui"></i>
  </p-blockUI>
  <blockable-div #pblockableDiv>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-g-12 ui-lg-2">
          <button pButton label="Copy from applicant files" icon="fa-copy" (click)="copy_applicant_fiels()"></button>
        </div>
      </div>
      <div class="ui-g-12">
        <nesi-fileManager [Dir]="fileDirectory"></nesi-fileManager>
      </div>
    </div>
  </blockable-div>
</div>