<div class="ui-g-12">
  <button pButton [disabled]="submitting" type="button" (click)="getScript()" label="Generate Update/Rollback SQL Scripts" icon="fa fa-check"></button>
</div>
<div class="ui-g-12">
  <div class="ui-g-3 bold">Update SQL Script:</div>
  <div class="ui-g-6">
    <button [disabled]="!updateSQL" (click)="save_Update_File()" pButton type="button" label="DownLoad Update SQL Script" icon="fa fa-download"></button>
  </div>

  <textarea readonly="true" pInputTextarea rows="15" [(ngModel)]="updateSQL"></textarea>
</div>
<div class="ui-g-12">
  <div class="ui-g-3 bold">RollBack SQL Script:</div>
  <div class="ui-g-6">
    <button [disabled]="!rollbackSQL"  (click)="save_Rollback_File()" pButton type="button" label="DownLoad RollBack SQL Script" icon="fa fa-download"></button>
  </div>
  <textarea  readonly="true" pInputTextarea rows="15" [(ngModel)]="rollbackSQL"></textarea>
</div>