<div class="ui-g-12 ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="logo " >
          <img src="assets/images/Logos/{{SandboxProductionLogo()}}" width="250px">
        </div>
    </div>
    <div class=" ui-g-12  ui-md-6 ui-md-offset-3 ui-lg-4 ui-lg-offset-4">
      <form *ngIf="!verified" class="signin-window form-signin" novalidate (ngSubmit)="verifyUsernameToken()" [formGroup]="validateForm">
          <div class="row justify-content-center">
            <div class="ui-g-10 ">
              <div class="form-row">
                <div class="form-group ui-g-12">
                  <label for="inputUsername4" class="">
                    <h2>Please enter your username</h2>
                  </label>
                  <input pInputText [(ngModel)]="username" type="text" class="form-control" id="inputUsername4" formControlName="username" tabindex="1" placeholder="Username"/>
                </div>
                <div *ngIf="usenameNotValidated" class="alert validation-error">Username is required and at least 3 characters.</div>
              </div>
              <input class="btn btn-lg btn-primary btn-block" tabindex="2" type='submit' #submitBtn value="Continue" [disabled]="!validateForm.valid" />
            </div>
          </div>
        </form>

        <form *ngIf="verified" class="signin-window form-signin" novalidate (ngSubmit)="resetPassword()" [formGroup]="resetForm">
            <div class="row justify-content-center">
              <div class="ui-g-10 ">
                <div class="form-row">
                    <div class="form-group ui-g-12">
                      
                  <div *ngIf="passwordNotValidated" class="alert validation-error" >
                      <div *ngIf="PasswordTooShort">Password is too short - Passwords must be at least 8 characters long.</div>
                      <div *ngIf="NoNonletterOrDigit">No non-letter or digit</div>
                      <div *ngIf="NoLowercase">No lowercase</div>
                      <div *ngIf="NoUppercase">No uppercase</div>
                      <div *ngIf="NoDigit">No digit</div>
                    </div>
                        <label for="inputPassword" >
                          <h2>Please enter new password</h2>
                        </label>
                        <input  pPassword  type="password" [feedback]=false [(ngModel)]="password" 
                        class="form-control" id="inputPassword" formControlName="password" tabindex="1" placeholder="Enter new password"/>
                      </div>
                </div>
                <div class="form-row">
                  <div class="form-group ui-g-12">
                      <label for="repassword" >
                        <h2>Please re-enter new password</h2>
                      </label>
                      <input  pPassword  type="password" [feedback]=false [(ngModel)]="repassword" class="form-control" id="inputRepassword" 
                      formControlName="repassword" tabindex="2" placeholder="Enter new password"/>
                    </div>
                  <div *ngIf="repasswordNotValidated" class="alert validation-error">Password is required, and needs to be at least 8 characters.</div>
                </div>
                <input class="btn btn-lg btn-primary btn-block" tabindex="3" type='submit' #submitBtn value="Reset Password" [disabled]="!resetForm.valid" />
              </div>
            </div>
          </form>
      </div>
    <div class="ui-g-12 row justify-content-center">
      <div class="credit">Spark Ops Copyright © {{currentYear}}</div>
    </div>
  </div>
</div>