<?xml version="1.0"?>
<appSettings>
  <add key="Environment" value="Spark Ops QA"/>
  <add key="DSN" value="Intranet"/>

	<!-- Folder Paths -->
  <add key="UNC_training_files" value="\\10.50.0.165\QA\nesi_files\global\training_files\"/>
  <add key="UNC_global_attachments" value="\\10.50.0.165\QA\nesi_files\global\"/>
  <add key="UNC_base_path" value="\\10.50.0.165\QA"/>
  <add key="UNC_ticket_attachments" value="\\10.50.0.165\QA\nesi_files\global\ticket_attachments\"/>
  <add key="po_all_scans_usa" value="//10.50.0.165/QA/nesi_files/global/POs/NESI-USA/PackingSlips/"/>
  <add key="po_all_scans_can" value="//10.50.0.165/QA/nesi_files/global/POs/NESI-Canada/PackingSlips/"/>

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="vs:EnableBrowserLink" value="false"/>
  
  <add key="is_n1" value="0"/>

  <add key="timeout" value="600"/>
  <add key="Domain" value="https://qa.sparkopsdev.com"/>
  <add key="DomainForEmail" value="sparkpowercorp.com"/>
	<add key="allowCORS" value="" />
  
  <add key="IronPdf.LicenseKey" value="IRONPDF-146550E56E-127051-254139-8A74F707D7-43D488B6-UEx4DE2EAE965B48D8-SPARKPOWERCORP.IRO190828.7440.86158.PRO.ULTDDEV.1YR.SUPPORTED.UNTIL.28.AUG.2020"/>


  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Timesheet -->
  <add key="pastday_length" value="180" />

  <!--DEBUG Switch Settings -->
  <add key="debug_redirect" value="1"/>

  <!--Password Settings -->
  <add key="encryption_pass" value="650@$cUfGWcCheIa857" />
  <add key="mobile_auth_key" value="$!18$uv58SjET9QaIH5" />
  <add key="ForcedChangePasswordDays" value="98" />
  <add key="tokenExpiredTime" value="6000" />
  <add key="pastday_length" value="180" />
  <add key="search_history_display" value="10" />

  <!--EMAIL Settings -->
  <add key="debug_redirect_email" value="development@sparkpowercorp.com" />
  <add key="debug_email" value="development@sparkpowercorp.com" />

  <add key="mx_address" value="smtp.office365.com" />
  <add key="Email_From" value="svc_sparkops_smtp_prd@sparkpower.onmicrosoft.com" />
  <add key="Email_IT" value="it@newelectric.com" />
  <add key="RequestPassword_To" value="insidesales@newelectric.com" />
  <add key="RequestPassword_BCC" value="mhyde@newelectric.com" />
  <add key="ForgetPassword_To" value="it@newelectric.com" />
  <add key="ForgetPassword_To2" value="gbrennan@newelectric.com" />
  <add key="ForgetPassword_CC" value="vgude@newelectric.com" /> 
  <add key="smtp_port" value="587" />
  <add key="smtp_username" value="svc_sparkops_smtp_prd@sparkpower.onmicrosoft.com" />
  <add key="smtp_password" value="ylbbpvdkfjczqxgv" />
  <add key="smtp_enable_ssl" value="true" />

  <!--EXPORT Settings -->
  <add key="PageSizeForExcel" value="500000" />
  <add key="PageSizeForPdf" value="500000" />

  <!--REPORT GRID Schema Config file name -->
  <add key="GridConfigFileName" value="~/ReportGridSchemas.config" />

  <!--MEMORY CACHE TIMEOUT MINUTES-->
  <add key="MemCacheAbsoluteTimeout" value="20" />

  <!-- Net Suite Parameters -->
  <add key = "Realm" value="3993567" />
  <add key = "ConsumerKey" value="7403a008b0020ef93335ce4f08ad5b0b0847bf54ff25d2917ab1d5f08b1e79bf" />
  <add key = "ConsumerSecret" value="f6e43abc83bd9d044b79bc8dfb704ad5bea4ef78c91f5a3c9ee741d7dbb19980" />
  <add key = "Token" value="64d4b6c97ebd92d5a4ae5fe3775ebda61c3437106c83f071d694438a478ada11" />
  <add key = "TokenSecret" value="a19fe8acff4be7295b68f00631f7c702e3e257bc16eec075e77d8f151118c995" />

  <add key = "IncomeStatementUrl" value="https://3993567.restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=222&amp;deploy=1" />
</appSettings>
