<?xml version="1.0"?>
<appSettings>
  <add key="Environment" value="Spark Ops UAT"/>
  <add key="DSN" value="Intranet"/>

	<!-- Folder Paths -->
  <add key="UNC_training_files" value="\\10.50.0.165\UAT\nesi_files\global\training_files\"/>
  <add key="UNC_global_attachments" value="\\10.50.0.165\UAT\nesi_files\global\"/>
  <add key="UNC_base_path" value="\\10.50.0.165\UAT"/>

  <add key="po_all_scans_usa" value="//10.50.0.165/UAT/nesi_files/global/POs/NESI-USA/PackingSlips/"/>
  <add key="po_all_scans_can" value="//10.50.0.165/UAT/nesi_files/global/POs/NESI-Canada/PackingSlips/"/>

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="vs:EnableBrowserLink" value="false"/>
  
  <add key="is_n1" value="0"/>

  
  <add key="timeout" value="600"/>
  <add key="Domain" value="https://uat.sparkopsdev.com"/>
  <add key="DomainForEmail" value="sparkpowercorp.com"/>
  <add key="allowCORS" value="" />


  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Timesheet -->
  <add key="pastday_length" value="180" />

  <!--DEBUG Switch Settings -->
  <add key="debug_redirect" value="1"/>

  <!--Password Settings -->
  <add key="encryption_pass" value="650@$cUfGWcCheIa857" />
  <add key="mobile_auth_key" value="$!18$uv58SjET9QaIH5" />
  <add key="ForcedChangePasswordDays" value="98" />
  <add key="tokenExpiredTime" value="6000" />
  <add key="pastday_length" value="180" />
  <add key="search_history_display" value="10" />

  <!--EMAIL Settings -->
  <add key="debug_redirect_email" value="tclark@sparkpowercorp.com" />
  <add key="debug_email" value="development@sparkpowercorp.com" />

  <add key="mx_address" value="10.50.0.8" />
  <add key="Email_From" value="administrator@newelectric.com" />
  <add key="Email_IT" value="it@newelectric.com" />
  <add key="RequestPassword_To" value="insidesales@newelectric.com" />
  <add key="RequestPassword_BCC" value="mhyde@newelectric.com" />
  <add key="ForgetPassword_To" value="it@newelectric.com" />
  <add key="ForgetPassword_To2" value="gbrennan@newelectric.com" />
  <add key="ForgetPassword_CC" value="vgude@newelectric.com" />

  <!--EXPORT Settings -->
  <add key="PageSizeForExcel" value="500000" />
  <add key="PageSizeForPdf" value="500000" />

  <!--REPORT GRID Schema Config file name -->
  <add key="GridConfigFileName" value="~/ReportGridSchemas.config" />

  <!--MEMORY CACHE TIMEOUT MINUTES-->
  <add key="MemCacheAbsoluteTimeout" value="20" />

  <!-- Net Suite Parameters -->
  <add key = "Realm" value="3993567_SB3" />
  <add key = "ConsumerKey" value="ac462adffbd98c5c716ea8e89f9ec5e4182306f2d27ef360d7eeab0ad1d4ae75" />
  <add key = "ConsumerSecret" value="87bf4103fe489b0455baaeda043cb49643b36c160f09f8723d4814a73aefc568" />
  <add key = "Token" value="8eb8b2286726bb2ccd0ba18cd09c952cdeebdbd0af1ed9a8f795a4d137440730" />
  <add key = "TokenSecret" value="258bb4b37098a6dc41a5f68c15b60f6e73010930472a1983790d63787cd9e650" />

  <add key = "IncomeStatementUrl" value="https://3993567-sb3.restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=114&amp;deploy=1" />
</appSettings>