<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings configSource="Configuration\app_settings_mattlocal.config"></appSettings>
	<connectionStrings configSource="Configuration\connection_strings_mattlocal.config"></connectionStrings>
</configuration>