<?xml version="1.0"?>
<!--Development environment settings-->
<appSettings>
  <add key="Environment" value="Financial Integration UAT"/>
  <add key="DSN" value="Intranet"/>
  <!--Attachment folders-->
  <add key="UNC_global_attachments" value="\\10.50.0.160\nesi_files\global\"/>
  <add key="UNC_ticket_attachments" value="\\10.50.0.160\nesi_files\global\ticket_attachments\"/>
  <add key="UNC_training_files" value="\\10.50.0.160\nesi_files\global\training_files\"/>
  <add key="UNC_base_path" value="\\10.50.0.160"/>

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="vs:EnableBrowserLink" value="false"/>
  
  <add key="is_n1" value="0"/>
  <add key="ldap_domain" value="NewElectric"/>
  <add key="ldap_ip" value="192.168.0.197"/>
  <add key="ldap_pass" value="20!0pp"/>
  <add key="ldap_user" value="administrator"/>

  <add key="pervasive_server" value="NOT-USED" />
  
  <add key="svn_server" value="https://na-devapp01:8443/svn/NESI-Intranet" />
  <add key="svn_user" value="lukelu" />
  <add key="svn_password" value="luke123" />
  <add key="timeout" value="600"/>
  <add key="Domain" value="https://www.nesiqa.com"/>
  <add key="DomainForEmail" value="sparkpowercorp.com"/>
  
  <add key="nesi.com.netsuite.webservices.netsuite" value="https://webservices.netsuite.com/services/NetSuitePort_2016_2"/>
  <add key="nesi.com.netsuite.sandbox.webservices.netsuite" value="https://webservices.sandbox.netsuite.com/services/NetSuitePort_2016_2"/>

  <add key="allowCORS" value="http://localhost:4300;http://www.nesi.ca;http://beta.nesi.ca;http://alpha.nesi.ca;http://n2.stage.nesi.ca" />

	<add key="po_all_scans_usa" value="//10.50.0.160/nesi_files/global/POs/NESI-USA/PackingSlips/"/>
	<add key="po_all_scans_can" value="//10.50.0.160/nesi_files/global/POs/NESI-Canada/PackingSlips/"/>
	<add key="IronPdf.LicenseKey" value="IRONPDF-146550E56E-127051-254139-8A74F707D7-43D488B6-UEx4DE2EAE965B48D8-SPARKPOWERCORP.IRO190828.7440.86158.PRO.ULTDDEV.1YR.SUPPORTED.UNTIL.28.AUG.2020"/>

	<add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Timesheet -->
  <add key="pastday_length" value="180" />

  <!--DEBUG Switch Settings -->
  <add key="debug_redirect" value="1"/>

  <!--Password Settings -->
  <add key="encryption_pass" value="650@$cUfGWcCheIa857" />
  <add key="mobile_auth_key" value="$!18$uv58SjET9QaIH5" />
  <add key="ForcedChangePasswordDays" value="98" />
  <add key="tokenExpiredTime" value="6000" />
  <add key="pastday_length" value="180" />
  <add key="search_history_display" value="10" />

  <!--EMAIL Settings -->
  <add key="debug_redirect_email" value="tclark@sparkpower.ca" />
  <add key="debug_email" value="development@sparkpowercorp.com" />
  <add key="LDAP_Path" value="LDAP://192.168.0.197/dc=NewElectric,dc=local" />
  <add key="mx_address" value="10.50.0.8" />
  <add key="Email_From" value="administrator@newelectric.com" />
  <add key="Email_IT" value="it@newelectric.com" />
  <add key="RequestPassword_To" value="insidesales@newelectric.com" />
  <add key="RequestPassword_BCC" value="mhyde@newelectric.com" />
  <add key="ForgetPassword_To" value="it@newelectric.com" />
  <add key="ForgetPassword_To2" value="gbrennan@newelectric.com" />
  <add key="ForgetPassword_CC" value="vgude@newelectric.com" />

  <!--EXPORT Settings -->
  <add key="PageSizeForExcel" value="500000" />
  <add key="PageSizeForPdf" value="500000" />

  <!--REPORT GRID Schema Config file name -->
  <add key="GridConfigFileName" value="~/ReportGridSchemas.config" />

  <!--MEMORY CACHE TIMEOUT MINUTES-->
  <add key="MemCacheAbsoluteTimeout" value="20" />


  <!-- Net Suite Parameters -->
  <add key="Realm" value="3993567_SB1" />
  <add key="ConsumerKey" value="a346771aa96b02fdc85fca1ad7c2dc6cde9bc90c5b9c2b788742ba0c21893389" />
  <add key="ConsumerSecret" value="51c2b5ced54040c3f7c95cffcb2e5ea8babfd499305e3d141a93d13f40f7215d" />
  <add key="Token" value="f10424e65c96f3ee9ef9940aa7287edb37af194fa56a3c200326c3261f607a69" />
  <add key="TokenSecret" value="d2f63441f4b533166409815bc5d4c85e05e1abefa54d47f3f4feb52e7fc18e1a" />

  <add key="IncomeStatementUrl" value="https://3993567-sb1.restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=111&amp;deploy=1&amp;subsidiary={0}&amp;date={1}" />
</appSettings>