<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear />
  <add name="NESIMySQL" connectionString="metadata=res://*/Entities.Model.csdl|res://*/Entities.Model.ssdl|res://*/Entities.Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=nesi-dev003;user id=nesiappuser;password=Eforu09815;persistsecurityinfo=True;database=neintranet&quot;" providerName="System.Data.EntityClient" />
  <add name="MySQLdotnet" connectionString="Sql Server Mode=True;server=nesi-dev003;user id=nesiappuser; password=Eforu09815;database=neintranet;default command timeout=300;allow user variables=true;" providerName="MySql.Data.MySqlClient" />
  <add name="MySQLXPO" connectionString="XpoProvider=MySql;server=nesi-dev003;user id=nesiappuser; password=Eforu09815; database=neintranet;persist security info=true;CharSet=utf8;"/>
</connectionStrings>