<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <clear />
  <add name="NESIMySQL" connectionString="metadata=res://*/Entities.Model.csdl|res://*/Entities.Model.ssdl|res://*/Entities.Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=ne-azmysql-01.newelectric.local;user id=nesiappuser;password=2NmhwVUrBBd5rJ3M;persistsecurityinfo=True;database=neintranet&quot;" providerName="System.Data.EntityClient" />
  <add name="MySQLdotnet" connectionString="Sql Server Mode=True;server=ne-azmysql-01.newelectric.local;user id=nesiappuser; password=2NmhwVUrBBd5rJ3M;database=neintranet;default command timeout=180;allow user variables=true;"
       providerName="MySql.Data.MySqlClient" />
  <add name="MySQLXPO" connectionString="XpoProvider=MySql;server=ne-azmysql-01.newelectric.local;user id=nesiappuser; password=2NmhwVUrBBd5rJ3M; database=neintranet;persist security info=true;CharSet=utf8;"/>

</connectionStrings>