<?xml version="1.0"?>
<!--Development environment settings-->
<appSettings>
  <add key="Environment" value="Financial Integration Production"/>
  <add key="DSN" value="Intranet"/>
  <!--Attachment folders-->
  <add key="UNC_global_attachments" value="\\spc-corp-file03\sparkops\nesi_files\global\"/>
  <add key="UNC_ticket_attachments" value="\\spc-corp-file03\sparkops\nesi_files\global\ticket_attachments\"/>
  <add key="UNC_training_files" value="\\spc-corp-file03\sparkops\nesi_files\global\training_files\"/>
  <add key="UNC_base_path" value="\\spc-corp-file03\sparkops"/>

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="vs:EnableBrowserLink" value="false"/>
  
  <add key="is_n1" value="0"/>
  <add key="ldap_domain" value="NewElectric"/>
  <add key="ldap_ip" value="192.168.0.197"/>
  <add key="ldap_pass" value="20!0pp"/>
  <add key="ldap_user" value="administrator"/>

  <add key="pervasive_server" value="NOT-USED" />
  
  <add key="svn_server" value="https://na-devapp01:8443/svn/NESI-Intranet" />
  <add key="svn_user" value="lukelu" />
  <add key="svn_password" value="luke123" />
  <add key="timeout" value="600"/>
  <add key="Domain" value="https://ops.sparkpowercorp.com"/>
  <add key="DomainForEmail" value="sparkpowercorp.com"/>

  <add key="nesi.com.netsuite.webservices.netsuite" value="https://webservices.netsuite.com/services/NetSuitePort_2016_2"/>
  <add key="nesi.com.netsuite.sandbox.webservices.netsuite" value="https://webservices.sandbox.netsuite.com/services/NetSuitePort_2016_2"/>

  <add key="allowCORS" value="http://localhost:4300;http://www.nesi.ca;http://beta.nesi.ca;http://alpha.nesi.ca;http://n2.stage.nesi.ca" />
	<add key="IronPdf.LicenseKey" value="IRONPDF-146550E56E-127051-254139-8A74F707D7-43D488B6-UEx4DE2EAE965B48D8-SPARKPOWERCORP.IRO190828.7440.86158.PRO.ULTDDEV.1YR.SUPPORTED.UNTIL.28.AUG.2020"/>

	<add key="po_all_scans_usa" value="//spc-corp-file03/nesi_files/global/POs/NESI-USA/PackingSlips/"/>
	<add key="po_all_scans_can" value="//spc-corp-file03/nesi_files/global/POs/NESI-Canada/PackingSlips/"/>

	<add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Timesheet -->
  <add key="pastday_length" value="180" />

  <!--DEBUG Switch Settings -->
  <add key="debug_redirect" value="0"/>

  <!--Password Settings -->
  <add key="encryption_pass" value="650@$cUfGWcCheIa857" />
  <add key="mobile_auth_key" value="$!18$uv58SjET9QaIH5" />
  <add key="ForcedChangePasswordDays" value="98" />
  <add key="tokenExpiredTime" value="6000" />
  <add key="pastday_length" value="180" />
  <add key="search_history_display" value="10" />

  <!--EMAIL Settings -->
  <add key="debug_redirect_email" value="applications@sparkpowercorp.com" />
  <add key="debug_email" value="development@sparkpowercorp.com" />
  <add key="LDAP_Path" value="LDAP://192.168.0.197/dc=NewElectric,dc=local" />
	<!--EMAIL Fix -->
  <add key="mx_address" value="smtp.office365.com" />
  <add key="Email_From" value="svc_sparkops_smtp_prd@sparkpower.onmicrosoft.com" />
  <add key="Email_IT" value="it@newelectric.com" />
  <add key="RequestPassword_To" value="insidesales@newelectric.com" />
  <add key="RequestPassword_BCC" value="mhyde@newelectric.com" />
  <add key="ForgetPassword_To" value="it@newelectric.com" />
  <add key="ForgetPassword_To2" value="gbrennan@newelectric.com" />
  <add key="ForgetPassword_CC" value="vgude@newelectric.com" />
  <add key="smtp_port" value="587" />
  <add key="smtp_username" value="svc_sparkops_smtp_prd@sparkpower.onmicrosoft.com" />
  <add key="smtp_password" value="ylbbpvdkfjczqxgv" />
  <add key="smtp_enable_ssl" value="true" />

  <!--EXPORT Settings -->
  <add key="PageSizeForExcel" value="500000" />
  <add key="PageSizeForPdf" value="500000" />

  <!--REPORT GRID Schema Config file name -->
  <add key="GridConfigFileName" value="~/ReportGridSchemas.config" />

  <!--MEMORY CACHE TIMEOUT MINUTES-->
  <add key="MemCacheAbsoluteTimeout" value="20" />


  <!-- Net Suite Parameters -->
  <add key = "Realm" value="3993567" />
  <add key = "ConsumerKey" value="7403a008b0020ef93335ce4f08ad5b0b0847bf54ff25d2917ab1d5f08b1e79bf" />
  <add key = "ConsumerSecret" value="f6e43abc83bd9d044b79bc8dfb704ad5bea4ef78c91f5a3c9ee741d7dbb19980" />
  <add key = "Token" value="64d4b6c97ebd92d5a4ae5fe3775ebda61c3437106c83f071d694438a478ada11" />
  <add key = "TokenSecret" value="a19fe8acff4be7295b68f00631f7c702e3e257bc16eec075e77d8f151118c995" />

  <add key = "IncomeStatementUrl" value="https://3993567.restlets.api.netsuite.com/app/site/hosting/restlet.nl?script=222&amp;deploy=1" />
</appSettings>