<p-blockUI [blocked]="submitting">
  <i class="fa fa-spinner fa-spin fa-3x nesi-block-50"></i>
</p-blockUI>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <form [formGroup]="userform"  class="" novalidate (ngSubmit)="postChangePassword()">
    <div class="form-group">
      <div class="ui-g-10 ui-md-4  ui-g-lesspad right bold">
        Username:
      </div>
      <div class="ui-g-10 ui-md-8  ui-g-lesspad left bold">
          <input pInputText type="text" [readOnly]="true" formControlName="username">
      </div>
    </div>
    <div  class="form-group">
      <div class="ui-g-10 ui-md-4  ui-g-nopad  label_for_right">
        Current Password:
      </div>
      <div class="ui-g-10 ui-md-8  ui-g-nopad label_for_left_less">
        <input pInputText type="password" formControlName="oldPassword">
        <nesi-fieldErrorDisplay [displayError]="isFieldInValid('oldPassword')" [errorMsg]="inputErrorMsg"></nesi-fieldErrorDisplay>
      </div>
    </div>
   
    <div  class="form-group">
      <div class="ui-g-10 ui-md-4  ui-g-nopad  label_for_right">
        New Password:
      </div>
      <div class="ui-g-10 ui-md-8  ui-g-nopad label_for_left_less">
        <input pInputText type="password" formControlName="newPassword">
        <!-- <nesi-fieldErrorDisplay [displayError]="isFieldInValid('password','data')" [errorMsg]="newpasswordError"></nesi-fieldErrorDisplay> -->
      </div>
    </div>

    <div class="form-group" *ngIf="hasNewPWDValue">
        <div class="ui-g-12 ui-md-8 ui-g-offset-4 label_for_left_less">
        <ng-container *ngIf="PasswordTooShort; then tooshort; else noshort" class="alert validation-error">
          </ng-container>
          <ng-template #tooshort>
            <div class="alert validation-error">
                 <i class="fa fa-times"></i> Password is too short - Passwords must be at least 8 characters long.
          </div>
           </ng-template>
           <ng-template #noshort>
              <div class="alert validation-warn">
                     <i class="fa fa-check"></i> Password must be least 8 characters long.
              </div>
           </ng-template>
           <ng-container *ngIf="PasswordNoUppercase; then NoUppercase; else Uppercase" class="alert validation-error">
          </ng-container>
          <ng-template #NoUppercase>
            <div class="alert validation-error">
                 <i class="fa fa-times"></i> No uppercase provided.
          </div>
           </ng-template>
           <ng-template #Uppercase>
              <div class="alert validation-warn">
                     <i class="fa fa-check"></i> Includes uppercase.
              </div>
           </ng-template>
           <ng-container *ngIf="PasswordNoLowercase; then NoLowercase; else Lowercase" class="alert validation-error">
          </ng-container>
          <ng-template #NoLowercase>
            <div class="alert validation-error">
                 <i class="fa fa-times"></i> No lowercase provided.
          </div>
           </ng-template>
           <ng-template #Lowercase>
              <div class="alert validation-warn">
                     <i class="fa fa-check"></i> Includes lowercase.
              </div>
           </ng-template>
      </div>
    </div>

    <div  class="form-group">
      <div class="ui-g-10 ui-md-4 ui-g-nopad label_for_right">
        Retype Password:
      </div>
      <div class="ui-g-10 ui-md-8 ui-g-nopad label_for_left_less">
        <input  pInputText type="password" formControlName="confirmPassword">
        <!-- <nesi-password-vaildation [displayError]="isFieldInValid('match_password')" [errorMsg]="inputErrorMsg"></nesi-password-vaildation> -->
      </div>
    </div>
    <div class="form-group" *ngIf="hasConfirmPWDValue">
        <div class="ui-g-12 ui-md-8 ui-g-offset-4 label_for_left_less">
        <ng-container  *ngIf="!confirmpasswordCpNotMatch; then NoMatched; else PasswordMatched">
          </ng-container>
          <ng-template #NoMatched>
           <div class="alert validation-error">
             <i class="fa fa-times"></i> Passwords do not match.
         </div>
          </ng-template>
          <ng-template #PasswordMatched>
             <div class="alert validation-warn">
                    <i class="fa fa-check"></i> Confirm password matches new password.
             </div>
          </ng-template>
        </div>
    </div>
      
    <div  class="form-group">
      <div class="ui-g-10 ui-md-4 ui-g-nopad label_for_right">
        &nbsp;
      </div>
      <div class="ui-g-10 ui-md-8  ui-g-nopad label_for_left_less" *ngIf="isLdapUser">
        <p-checkbox binary="true" formControlName="sync_pass" label="Sync Windows Password"></p-checkbox>
      </div>
    </div>
    <div  class="form-group">
      <div class="ui-g-2 ui-g-offset-8">
        <button pButton type="submit" label="Save" icon="fa-check"></button>
      </div>
      <div class="ui-g-2">
        <button pButton type="button" label="Cancel" icon="fa-times" class="ui-button-secondary" (click)="cancel.emit()"></button>
      </div>

    </div>

  </form>
</div>
