.REQUIRE{
	FONT-SIZE:12PX;
	FONT-WEIGHT:NORMAL;
	color: #FF0000;
	COLOR: #FF0000;
}
.BUTTON 
{
	
	BACKGROUND-REPEAT: NO-REPEAT;
	HEIGHT: 24PX;
	WIDTH: 75PX;
}

.RES_SMALL {
	FONT-FAMILY:GEORGIA, "TIMES NEW ROMAN", TIMES, SERIF;
	FONT-SIZE:13PX;
	FONT-WEIGHT:NORMAL;
	color: #005B4D;
}

.BOLD_TEXT{
	FONT-FAMILY:ARIAL, HELVETICA, SANS-SERIF;
	FONT-SIZE:15PX;
	FONT-WEIGHT:BOLD;
	color: #000000;
}
.LOGIN_TEXT{
	FONT-FAMILY:ARIAL, HELVETICA, SANS-SERIF;
	FONT-SIZE:12PX;
	FONT-WEIGHT:BOLD;
	color: #000000;
}
.LEFTNEV_STYLE{
	WIDTH:150PX;
	BORDER-LEFT-COLOR:BLACK;
	BACKGROUND-COLOR:#FBF7EB;
	BORDER: 1PX SOLID #666666;
}
.THANK-TEXT {
	FONT-FAMILY:VERDANA, ARIAL, HELVETICA, SANS-SERIF;
	FONT-SIZE:26PX;
	FONT-WEIGHT:NORMAL;
	color: #ED310C;
}



.LOGIN-BOLD{
	FONT-FAMILY:VERDANA, ARIAL, HELVETICA, SANS-SERIF;
	FONT-WEIGHT:BOLDER;
	FONT-SIZE:12PX;
	COLOR:#545F73;
	VERTICAL-ALIGN:TOP;

}
.LOGIN{
	FONT-FAMILY:VERDANA, ARIAL, HELVETICA, SANS-SERIF;
	FONT-WEIGHT:NORMAL;
	FONT-SIZE:11PX;
	COLOR:#545F73;

}
.INDEX-IN_BORDER {
	BORDER:#FEB57A 1PX SOLID;
	
}
.BORDER {
 BORDER:#242424 1PX SOLID;
 
}

.TABLE_HEAD_RIGHT {
	BACKGROUND-IMAGE: URL(../../IMAGES/IMG_TOPTABLE_RED_HEAD_RIGHT.JPG);
	BACKGROUND-REPEAT: NO-REPEAT;
	HEIGHT: 25PX;
	WIDTH: 11PX;
}
.TABLE_ROW1 {
	FONT-FAMILY: TAHOMA;
	FONT-SIZE: 12PX;
	COLOR: #000000;
	BACKGROUND-COLOR: #EFECC8;
	BACKGROUND-REPEAT: REPEAT;
	HEIGHT: 30PX;
	WIDTH:200PX;
	FONT-WEIGHT:BOLD;
	TEXT-ALIGN:LEFT;
	PADDING-LEFT: 4PX;
}
.TABLE_ROW2 {
	FONT-FAMILY: TAHOMA;
	FONT-SIZE: 12PX;
	COLOR: #000000;
	BACKGROUND-COLOR: #F4F2DA;
	BACKGROUND-REPEAT: REPEAT;
	HEIGHT: 30PX;
	TEXT-ALIGN:LEFT;
	PADDING-LEFT: 4PX;
}
.TABLE_ROW_FOOT {
	FONT-FAMILY: TAHOMA;
	FONT-SIZE: 12PX;
	COLOR: #000000;
	BACKGROUND-COLOR: #F4F2DA;
	BACKGROUND-REPEAT: REPEAT;
	HEIGHT: 30PX;
	WIDTH:200PX;
	FONT-WEIGHT:BOLD;
	TEXT-ALIGN:RIGHT;
	PADDING-LEFT: 4PX;
	PADDING-RIGHT:12PX;
}
/*****************************
PAGE HEADING
******************************/
.HEADER1 {
	FONT-FAMILY: TAHOMA;
	FONT-SIZE: 12PX;
	COLOR: #000000;
	BACKGROUND-COLOR: #D6D08A;
	BACKGROUND-REPEAT: REPEAT;
	FONT-WEIGHT: BOLD;
	HEIGHT: 30PX;
	TEXT-ALIGN:LEFT;
	PADDING-LEFT: 4PX;
}
.ROW1 {
	FONT-FAMILY: TAHOMA;
	FONT-SIZE: 12PX;
	COLOR: #000000;
	BACKGROUND-COLOR: #EFECC8;
	BACKGROUND-REPEAT: REPEAT;
	HEIGHT: 30PX;
	TEXT-ALIGN:LEFT;
	PADDING-LEFT: 4PX;
}
.ROW2 {
	FONT-FAMILY: TAHOMA;
	FONT-SIZE: 12PX;
	COLOR: #000000;
	BACKGROUND-COLOR: #F4F2DA;
	BACKGROUND-REPEAT: REPEAT;
	HEIGHT: 30PX;
	TEXT-ALIGN:LEFT;
	PADDING-LEFT: 4PX;
}

.ROWNEW1 {
	FONT-FAMILY: TAHOMA;
	FONT-SIZE: 12PX;
	COLOR: #000000;
	BACKGROUND-COLOR: #EFECC8;
	BACKGROUND-REPEAT: REPEAT;
	HEIGHT: 30PX;
	TEXT-ALIGN:LEFT;
	PADDING-LEFT: 4PX;
}
.ROWNEW2 {
	FONT-FAMILY: TAHOMA;
	FONT-SIZE: 12PX;
	COLOR: #000000;
	BACKGROUND-COLOR: #EFECC8;
	BACKGROUND-REPEAT: REPEAT;
	HEIGHT: 30PX;
	TEXT-ALIGN:LEFT;
	PADDING-LEFT: 4PX;
}

.TABLE_HEAD_LEFT {
	BACKGROUND-IMAGE: URL(../../IMAGES/IMG_TOPTABLE_RED_HEAD_LEFT.JPG);
	BACKGROUND-REPEAT: NO-REPEAT;
	HEIGHT: 25PX;
	WIDTH: 11PX;
}

.BLACK_BORDER {
 BORDER: 1PX SOLID #666666;
}
.CAP{FONT-FAMILY:TAHOMA; FONT-WEIGHT:BOLD; FONT-SIZE:11PX; COLOR:#9F0D10;}
.TXT{FONT-FAMILY:TAHOMA;FONT-SIZE:11PX; COLOR:#000000; PADDING-TOP:5PX;PADDING-LEFT:15PX;PADDING-RIGHT:15PX;}
.MENU{FONT-FAMILY:TAHOMA; FONT-WEIGHT:BOLD; FONT-SIZE:10PX; COLOR:#9F0D10; TEXT-DECORATION:NONE;}
.FOOTER{display:none;FONT-FAMILY:TAHOMA;FONT-SIZE:10PX; COLOR:#595959;}

.MAIN_BORDER{
}

.TABLE_HEAD_RIGHT {
	BACKGROUND-IMAGE: URL(../../IMAGES/IMG_TOPTABLE_RED_HEAD_RIGHT.JPG);
	BACKGROUND-REPEAT: NO-REPEAT;
	HEIGHT: 25PX;
	WIDTH: 11PX;
}