<nesi-breadcurmb [items]="[{label: 'Purchases'},{label: tabName}]"></nesi-breadcurmb>
<div class="ui-g-12">
  <p-tabView (onChange)="tabChanged($event)">
    <p-tabPanel [header]="tabLabels[0]" leftIcon="fa-list">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <nesi-purchaseOrder-summary></nesi-purchaseOrder-summary>
      </div>
    </p-tabPanel>
    <p-tabPanel [header]="tabLabels[1]" leftIcon="fa-table">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-lg-1 label_for_right">
            Business Unit:
          </div>
          <div class="ui-g-12 ui-lg-2">
              <nesi-visibleBusinessUnitDropDown [(ngModel)]="selected_business_unit" (onChange)="loadDetail()"></nesi-visibleBusinessUnitDropDown>
          </div>
        </div>
        <div class="ui-g-12" >
          <nesi-datatable 
          [fixed_header_scroll]="0"
          [need_query_param]="true"
          [dropdownOptions]="{poprog_apstatus: apstatusList}" [selectionMode]="null"
          (onDropDownChange)="apstatusUpdate($event)" [refreshCache]="true"
          (onTextBoxChange)="noteUpdate($event)"  [id]='92' gridName="PurchaseOrderBusinessUnitDetail" gridTitle="" (onRefresh)="loadDetail(true)" >
          </nesi-datatable>
        </div>
      </div>
    </p-tabPanel>
    <!-- <p-tabPanel [header]="tabLabels[2]" leftIcon="fa-table">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <nesi-purchaseOrder-summary-detail></nesi-purchaseOrder-summary-detail>
        </div>
      </p-tabPanel> -->
  </p-tabView>
</div>