
  <div class="ui-g-12 ui-md-2 label_for_right">
      Percent Complete:
    </div>

    <div class="ui-g-12 ui-md-10">
      <div class="allowResize">
        <p-radioButton name="rdpercentComplete" value="0" label="0%" [(ngModel)]="value" inputId="opt1"></p-radioButton>
      </div>
      <div class="allowResize">
        <p-radioButton name="rdpercentComplete" value="10" label="10%" [(ngModel)]="value" inputId="opt2"></p-radioButton>
      </div>
      <div class="allowResize">
        <p-radioButton name="rdpercentComplete" value="25" label="25%" [(ngModel)]="value" inputId="opt3"></p-radioButton>
      </div>
      <div class="allowResize">
        <p-radioButton name="rdpercentComplete" value="50" label="50%" [(ngModel)]="value" inputId="opt4"></p-radioButton>
      </div>
      <div class="allowResize">
        <p-radioButton name="rdpercentComplete" value="75" label="75%" [(ngModel)]="value" inputId="opt5"></p-radioButton>
      </div>
      <div class="allowResize">
        <p-radioButton name="rdpercentComplete" value="90" label="90%" [(ngModel)]="value" inputId="opt6"></p-radioButton>
      </div>
      <div class="allowResize">
        <p-radioButton name="rdpercentComplete" value="100" label="100%" [(ngModel)]="value" inputId="opt7"></p-radioButton>
      </div>
    </div>
