<!-- <div class="ui-inputgroup">
   <span class="ui-float-label ">
    <p-autoComplete #atext (onFocus)="$event.target.select()" [size]="30" id="float-input" [(ngModel)]="text" [suggestions]="items" (completeMethod)="search($event)" (onSelect)="select($event)"
      dataKey="value" field="label"></p-autoComplete>

   <label for="float-input">{{placeholder}}</label>
  </span>
  <span class="ui-inputgroup-addon">
    <i class="fa fa-search"></i>
  </span>
</div> -->
<div class="ui-g-10 ui-g-nopad">
  <nesi-ReactiveDropDown [placeholder]="placeholder" [options]="allitems" [(ngModel)]="selectItem" (onChange)="select($event)"></nesi-ReactiveDropDown>
</div>
<div class="ui-g-2 ui-g-nopad">
  <div class="ui-g-6 ui-g-nopad">
    <button pButton [disabled]="!selectItem" icon="fa-window" (click)="select({value: selectItem})"></button>
  </div>
  <div class="ui-g-6 ui-g-nopad right">
    <button pButton icon="fa-times" class="ui-button-danger" (click)="close.emit()"></button>
  </div>
</div>
<p-dialog header="{{sourceName}}: {{label}}" [modal]="true" [responsive]="true" [(visible)]="dialogDisplay">
  <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
    <ng-container formArrayName="rows">
      <div *ngFor="let row of rows.controls; let i=index">
        <div class="ui-g-12" [formGroupName]="i" [ngClass]="{'greyBack': i % 2==1,'whiteBack': i %2 ==0}">
          <div class="ui-g-2">
            {{i+1}}
          </div>
          <div class="ui-g-8">
            <div>{{row.value.paytype_name}} </div>
            <div>{{row.value.chargeout | currency:'CAD':'symbol-narrow':'1.2-2' }}</div>
          </div>
          <div class="ui-g-2">
            <input id="qty" pInputText type="number" step="1" formControlName="qty">
          </div>
        </div>
      </div>
    </ng-container>
    <div class="ui-g-12">
      <button pButton icon="fa-plus" label="Add"></button>
    </div>
  </form>
</p-dialog>