iframe {
  display: none;
}

.login-container-body {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: url("/assets/images/login/bg.jpg");
  background-position: center top !important;
  background-repeat: no-repeat !important;
  font-family: 'Roboto', sans-serif;
  background-size: auto;
  max-width: none;
}

.validation-error {
  width: 100%;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb
}
.validation-warn {
  width: 100%;
  color: #51721c;
  background-color: #f2f8d7;
  border-color: #eef5c6
}


/*Fonts*/

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #094;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: #094;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #404040;
  line-height: 1.2;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #404040;
  line-height: 1.2;
}

label button,
input,
optgroup,
select,
textarea {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  color: #404040;
  border-radius: 0;
}

.logo {
  position: center;
}

.signin-window {
  background-color: rgba(255, 255, 255, 0.8);
}

.form-signin {
  padding: 2rem 0;
  background-color:#fff;
  filter: drop-shadow(2px 4px 5px #999);
}

.form-signin-heading {
  text-align: center;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 0.7rem;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  border-style: none;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-control.is-valid .ng-valid {
  border-color: #094;
}

.form-control.is-invalid .ng-invalid {
  border-color: #D0011B;
}

.btn {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #094;
}

.btn-block+.btn-block {
  margin-top: 0;
}

.link_popup {
  color: white;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.devider {
  font-weight: 300;
}

.need_login {
  text-align: right;
  margin-right: 1.25rem;
  cursor: pointer;
}

.need_login:hover {
  color: black;
}

.forgot_pw {
  color: #333!important;
  text-align: left;
  cursor: pointer;
}

.forgot_pw:hover {
  color: black;
}


/* The Modal (background) */

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content/Box */

@media screen and (min-width: 600px) {
  .modal-content {
    min-width: 600px;
  }
}

.modal-content {
  position: relative;
  border-radius: 0;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}


/* Modal Header */

.modal-logo {
  margin-top: 0.5em;
  height: 144px;
}

.modal-container {
  padding: 0 0;
  padding-bottom: 0;
  margin: 0 auto;
}

.modal-header {
  margin: 0 auto;
  font-size: 2.0rem;
  border-bottom: none;
}


/* Modal Body */

.modal-body {
  padding: 0;
  margin-bottom: 1rem;
}

.modal-btn {
  bottom: 0;
  height: 3rem;
  margin-top: 0rem;
}


/* The Cancel Button */

.needlogin-btn-cancel {
  background-color: #e5e5e5;
  color: #404040;
}

.needlogin-btn-cancel:hover {
  background-color: black;
  color: white;
}


/* The Cancel Button */

.forgotpw-btn-cancel {
  background-color: #e5e5e5;
  color: #404040;
}

.forgotpw-btn-cancel:hover {
  background-color: black;
  color: white;
}


/* The Request Button */

.btn-request {
  background-color: #094;
}

.btn-request:hover {
  background-color: black;
  color: white;
}


/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -6rem;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -6rem;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.credit {
  color: #333;
  opacity: 0.5;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  bottom: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.reboot_timer {
  border: solid 1px #faebcc;
  color: #094;
  text-align: center;
  left: 50%;
  top: 50%;
  font-size: 2em;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  height: 240px;
  width: 450px;
  /* box-shadow: 5px 5px 5px #888888; */
}

.loading {
  margin-top: 3rem;
}
