<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <!--Run custom rules-->
    <AfterAddIisSettingAndFileContentsToSourceManifest>
      AddCustomSkipRules
    </AfterAddIisSettingAndFileContentsToSourceManifest>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Development</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nesidev001.ne-servers.ca</MSDeployServiceURL>
    <DeployIisAppPath>nesi.ca_webapi_stage</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <UserName>nesi-dev001\nesiappuser</UserName>
    <_SavePWD>True</_SavePWD>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <ExcludeFoldersFromDeployment>Logs</ExcludeFoldersFromDeployment>
    <OnBeforePackageUsingManifest>AddCustomSkipRules</OnBeforePackageUsingManifest>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <!--Set this in order to bypass certificate errors during deploy-->
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
  </PropertyGroup>
  <!--
    Create any folders or artifacts that may not exist on initial publish
  -->
  <Target Name="CreateEmptyFolders">
    <Message Text="Adding empty folders..." />
    <MakeDir Directories="$(_MSDeployDirPath_FullPath)\Logs" />
  </Target>
  <!--
    Add custom rules to skip required files from the deletion process
  -->
  <Target Name="AddCustomSkipRules" DependsOnTargets="CreateEmptyFolders">
    <Message Text="Adding Custom Skip Rules" />
    <ItemGroup>
      <MsDeploySkipRules Include="SkipLogFiles">
        <SkipAction>Delete</SkipAction>
        <ObjectName>filePath</ObjectName>
        <AbsolutePath>$(_DestinationContentPath)\\Logs\\.*</AbsolutePath>
        <Apply>Destination</Apply>
      </MsDeploySkipRules>

      <MsDeploySkipRules Include="SkipLogFolder">
        <SkipAction></SkipAction>
        <ObjectName>dirPath</ObjectName>
        <AbsolutePath>$(_DestinationContentPath)\\Logs\\.*\\*</AbsolutePath>
        <Apply>Destination</Apply>
      </MsDeploySkipRules>
    </ItemGroup>
  </Target>
  <!--Important: custom rules will not work without this-->
  <PropertyGroup>
    <UseMsDeployExe>true</UseMsDeployExe>
  </PropertyGroup>

</Project>