<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
    <div class="ui-g-12">
      <p-dataTable [value]="histories" (onRowExpand)="OnRowExpand($event)" [responsive]="true" expandableRows="true" rowHover="true"
        #d>
        <p-column field="status" header="Status">
        </p-column>
        <p-column field="date_insert" header="Request Date">
         
        </p-column>
        <p-column field="date_start" header="Start Date">
         
        </p-column>
        <p-column field="date_end" header="End Date">
         
        </p-column>
        <p-column field="payment_method" header="Pay Type">
  
        </p-column>
        <p-column field="amount" header="Hrs Req"></p-column>
        <p-column styleClass="col-button" [style]="{'width':'60px'}">
          <ng-template pTemplate="body" let-item="rowData">
            <button type="button" [disabled]="deleteDisabled(item)" pButton (click)="deleteVacation(item)" icon="fa-times"></button>
          </ng-template>
        </p-column>
        <p-column expander="true" [style]="{'width':'40px'}" styleClass="col-icon">
  
        </p-column>
  
        <ng-template let-item pTemplate="rowexpansion">
          <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="!deleteDisabled(item)">
            <div class="ui-g" *ngIf="notes.get(item.vacation_id)">
              <div class="ui-g-12" *ngFor="let note of notes.get(item.vacation_id)">
                {{note.name_full}} - {{note.date}}
                <br/> {{note.note}}
              </div>
            </div>
            <div class="ui-grid-col-12">
              <form (ngSubmit)="addNote($event,item.vacation_id)">
                <textarea pInputTextarea [rows]="4" autoResize="autoResize" required></textarea>
                <button pButton [disabled]="deleteDisabled(item)" type="submit" label="Add Note(branch manager will see this also)"></button>
              </form>
            </div>
          </div>
  
        </ng-template>
  
        <!-- <p-footer>Total Rows:{{totalRecords}} Total Pages:{{totalPages}}</p-footer> -->
      </p-dataTable>
    </div>
  </div>